!!! 5
%html{ :lang => "en" }
  %head
    = render 'head'
  %body

    %table#outer_container
      %tr
        %td
          #inner_container

            #navi
            #content
              = yield
            #footer

    = render 'foot'
