meta charset="utf-8"

link rel="shortcut icon" type="image/ico" href="/favicon.ico"
-#link rel='stylesheet' href="/static/galleria-themes/classic/galleria.classic.css"
link rel='stylesheet' href="/assets/styles.css"

script src="/assets/lib.js"
script src="/assets/script.js"

= @item[:content_for_head]

title
  = (@item[:title].to_s + '-') if @item[:title]
  = @site.config[:meta_data][:title]
