%meta{ :charset => "utf-8" }

%link{:rel => "shortcut icon", :type => "image/ico",  :href => "/favicon.ico" }
%link{:rel => 'stylesheet',                           :href => "/assets/styles/site.css"}

= @item[:content_for_head]

%title
  MoMolog Nanoc Site Template
